<ion-view view-title="Realizar Reserva">
  <ion-content>
    <div class="list">
      <a class="item item-thumbnail-left" >
        <img src="../img/map-icon.png">
        <h2 style="margin-top: 15%;height: 21px;"><b>1.</b> Elige el establecimiento</h2>
      </a>
      <a class="item item-thumbnail-left" >
        <img src="../img/field-icon.png">
        <h2 style="margin-top: 15%;height: 21px;"><b>2.</b> Elige la cancha</h2>
      </a>
      <a class="item item-thumbnail-left" >
        <img src="../img/calendar-icon.png">
        <h2 style="margin-top: 15%;height: 21px;"><b>3.</b> Elige la fecha</h2>
      </a>
      <a class="item item-thumbnail-left" >
        <img src="../img/time-icon.ico">
        <h2 style="margin-top: 15%;height: 21px;"><b>4.</b> Elige la hora</h2>
      </a>
      <a class="item item-thumbnail-left" >
        <img src="../img/ok-icon.png">
        <h2 style="margin-top: 15%;height: 21px;"><b>5.</b> Confirmar la Reserva</h2>
      </a>
    </div>
  </ion-content>
  <ion-footer>
    <div class="bar bar-footer bar-energized" ng-click="empezarReserva()">
      <div class="title">Empezar Reserva</div>
    </div>
  </ion-footer>
</ion-view>
